/* Add your own CSS if you like */

.pane, .view {
  background-color: none;
  background: url('../img/background.png');
}

.header-bell {
  margin-top: 40px;
  height: 220px;
  width: 100%;
  margin-left: 0;
  background: url('../img/white-bell-logo.png') no-repeat center center;
  background-size: 170px;
}

.box-login {
  background: none;
  background-color: transparent;
  border-color: transparent;
}

.box-login .list {
  max-width: 80%;
  margin: 0 auto;
}
